@tailwind base;
@tailwind components;
@tailwind utilities;

._container {
  max-width: 1444px;
  padding-left: 8%;
  padding-right: 8%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  ._container {
    max-width: 100%;
    padding-left: 4%;
    padding-right: 4%;
  }
  ._container_new {
    max-width: 100%;
    padding-left: 4%;
    padding-right: 4%;
  }
}
